<div class="container">
<h1>Please create an account for registration purposes</h1>

<form action='/create_account' method='post'>
Full Name: <input type="text" name="person[full_name]" placeholder="Type in your name">
<br>
<br>
Email: <input type="text" name="person[email]" placeholder="Type in your email">
<br>
<br>
Password: <input type="text" name="person[password]" placeholder="Type in your password">
<br>
<br>
<input type="submit" value="Submit!">

</form>
</div>