<div class="container">
<h1>Welcome to bitly!</h1>

<h2>Please select an option</h2>

<center>
<div class="options">
<p><a href = "/sign_in">Sign-In</a>
<a href = "/create_account">Create Account</a>
</center>

</div>
</div>