<div class="container">

<h2>SHORTEN YOUR LINK HERE:</h2>

<form action='/shorten_url' method='post'>
<input area="text" name="url[long_url]" placeholder="Paste a link to shorten it">
<br>
<br>
<input type="submit" value="Submit!">
<br>
</form>

</div>